<%-
  subject ||= @host
  obj = subject.liudesk_cmdb_facet

  existing_asset_data = obj.ephemeral_attributes[:asset] || {}
  asset_data = OpenStruct.new(((obj.raw_data || {}).with_indifferent_access[:asset] || {}).merge(existing_asset_data))
  existing_hardware_data = obj.ephemeral_attributes[:hardware] || {}
  hardware_data = OpenStruct.new(((obj.raw_data || {}).with_indifferent_access[:hardware] || {}).merge(existing_hardware_data))
-%>
<%= fields_for subject do |f| %>
  <%= f.fields_for 'liudesk_cmdb_facet_attributes' do |f| %>
    <%= f.fields_for 'ephemeral_attributes' do |f| %>
      <div class="clearfix">
        <h2 class="ca">Asset information</h2>
      </div>
      <%= f.fields_for 'asset', asset_data do |f| %>
        <%= cmdb_text_f(f, obj, 'asset.asset_owner', size: 'col-md-8', label: _("Owner")) %>
        <%- unless obj.client? %>
          <%= cmdb_text_f(f, obj, 'asset.contact_information', size: 'col-md-8', label: _("Contact information")) %>
          <%= cmdb_textarea_f(f, obj, 'asset.misc_information', help_block: _("Additional information about this asset"), size: 'col-md-8', rows: '3', class: 'no-stretch', label: _("Misc Information")) %>
        <%- end %>
      <%- end %>

      <div class="clearfix">
        <h2 class="ca">Hardware information</h2>
      </div>
      <%= f.fields_for 'hardware', hardware_data do |f| %>
        <%= cmdb_text_f(f, obj, 'hardware.asset_owner', size: 'col-md-8', label: _("Owner")) %>
        <%= cmdb_text_f(f, obj, 'hardware.contact_information', size: 'col-md-8', label: _("Contact information")) %>
        <%= cmdb_textarea_f(f, obj, 'hardware.misc_information', help_block: _("Additional information about this hardware"), size: 'col-md-8', rows: '3', class: 'no-stretch', label: _("Misc Information")) %>
      <%- end %>
    <%- end %>
  <%- end %>
<%- end %>
