<%-
  subject ||= @host
  obj = subject.liudesk_cmdb_facet

  asset_data = OpenStruct.new((obj.raw_data || {}).with_indifferent_access[:asset] || {})
  hardware_data = OpenStruct.new((obj.raw_data || {}).with_indifferent_access[:hardware] || {})
-%>
<%= fields_for subject do |f| %>
  <%= f.fields_for 'liudesk_cmdb_facet_attributes' do |f| %>
    <%= f.fields_for 'ephemeral_attributes' do |f| %>
      <div class="clearfix">
        <h2 class="ca">Asset information</h2>
      </div>
      <%= f.fields_for 'asset', asset_data do |f| %>
        <%- unless obj.client? %>
          <%= disabled_text_f(f, :contact_information, size: 'col-md-8', label: _("Contact information")) %>
          <%= disabled_textarea_f(f, :misc_information, help_block: _("Additional information about this asset"), size: 'col-md-8', rows: '3', class: 'no-stretch', label: _("Misc Information")) %>
        <%- end %>
      <%- end %>

      <div class="clearfix">
        <h2 class="ca">Hardware information</h2>
      </div>
      <%= f.fields_for 'hardware', hardware_data do |f| %>
        <%= disabled_text_f(f, :contact_information, size: 'col-md-8', label: _("Contact information")) %>
        <%= disabled_textarea_f(f, :misc_information, help_block: _("Additional information about this hardware"), size: 'col-md-8', rows: '3', class: 'no-stretch', label: _("Misc Information")) %>
      <%- end %>
    <%- end %>
  <%- end %>
<%- end %>
