<%-
asset_data = ForemanLiudeskCMDB::CachedAssetParameters.call(@host, sliced: false, compacted: true)
asset_keys = %i[network_access_role certificate_information network_certificate_ca]
facet = @host.liudesk_cmdb_facet
-%>
<div class="additional-info ca w-100">Last synced <span title="<%= facet.sync_at %>"><%= time_ago_in_words(facet.sync_at || Time.at(0)) %> ago</span>
<%-
  if facet.sync_error
-%>
<br/><span class="tab-error"><%= facet.sync_error %></span>
<%-
  end
-%>
</div>
<table class="table table-bordered table-striped" style="margin-bottom: 2rem">
  <thead>
    <tr>
      <th style="border-right: none"><%= _("Asset") %></th>
      <th style="border-left: none; text-align: right"><%= asset_data[:asset_type]&.to_s&._cmdb_camel_case(capitalized: true, spaced: true)%></th>
    </tr>
  </thead>

  <tbody>
<%- asset_data[:asset]&.sort&.each do |key, value| -%>
    <tr><td><%= key.to_s._cmdb_camel_case(capitalized: true, spaced: true) %></td><td><%= value %></td></tr>
<%- end -%>
  </tbody>

  <tbody style="border: none"><tr><td colspan="2">&nbsp;</td></tr></tbody>

  <thead>
    <tr>
      <th style="border-right: none"><%= _("Hardware") %></th>
      <th style="border-left: none; text-align: right"><%= asset_data[:hardware_type]&.to_s&._cmdb_camel_case(capitalized: true, spaced: true)%></th>
    </tr>
  </thead>
  <tbody>
<%- asset_data[:hardware]&.sort&.each do |key, value| -%>
    <tr>
      <td><%= key.to_s._cmdb_camel_case(capitalized: true, spaced: true) %></td>
<%- if value.is_a? Array -%>
      <td>
<%-   value.each do |entry| -%>
<%-     if entry.is_a? Hash -%>
        <table class="table table-bordered">
          <thead><tr><th colspan="2"></th></tr></thead>
          <tbody>
<%-       entry.each do |k, v| %>
            <tr>
              <td><%= k.to_s[0].capitalize %><%= k.to_s[1..] %></td><td><%= v %></td>
            </tr>
<%-       end -%>
          </tbody>
        </table>
<%-     else -%>
        <%= entry %><br/>
<%-     end -%>
<%-   end -%>
      </td>
<%- else -%>
      <td><%= value %></td>
<%- end -%>
    </tr>
<%- end -%>
  </tbody>
</table>
